<div class="ui-g top-header-bg">
  <div class="ui-g-12">
    <div class="ui-g-1">
        <a routerLink="/home">
            <img src="/assets/images/SRUY_Logo.png" class="logo_top"/>
        </a>
    </div>
    <div class="ui-g-8" class="app-title" routerLink="/home">
        Nest Tailors' Den
    </div>
    <div [ngClass]="{ 'ui-g-6': logged, 'ui-g-1': !logged }" style="float: right; padding: 0; text-align: right">
      <span class="user-logged-name">{{ fullUserName }}</span>
      <a [hidden]="logged" routerLink="/login" class="sign-in"><span class="pi pi-sign-in" style="font-size: 2rem"></span></a>
      <a [hidden]="!logged" (click)="signOut()" class="sign-out"><span class="pi pi-sign-out" style="font-size: 2rem"></span></a>
        <!-- OAuth Login-->
    </div>
  </div>
</div>