.logo_top {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
}
.top-header-bg {
    background-color: #0a2761;
    position: static;
    top: 0;
    left: 0;
    height: 45px; 
    width: 100%;
    /*
blue 2 #2f7482
Blue 1 #2e7179

Gold 1 #ffd71e
Gold 2 #fabd05

Red 1 #ee3232
Red 2 #f9b4b4

Blue 3 #0a2761
Blue 4 #7b9bde
    */
}
.app-title {
    padding-top: 6px; // esto es para centrar el titulo, desde arriba
    font-size: 0.8rem; // tamaño del texto
    left: 55px;
    position: absolute;
    font-weight: bold; // negrita
    color: #7b9bde; // color del titulo
}
