<div class="ui-g top-header-bg">
  <div class="ui-g-12">
    <div class="ui-g-1">
        <a routerLink="/home">
            <img src="/assets/images/SRUY_Logo.png" class="logo_top"/>
        </a>
    </div>
    <div class="ui-g-8" class="app-title">
        Nest Tailors' Den
    </div>
    <div class="ui-g-1" style="float: right; padding: 0; text-align: right">
      <a routerLink="/login"><span class="pi pi-sign-in" style="font-size: 2rem"></span></a>
      <a [hidden]="true" (click)="signOut()"><span class="pi pi-sign-out" style="font-size: 2rem"></span></a>
        <!-- OAuth Login-->
    </div>
  </div>
</div>