@import "../../include.scss";

.logo_top {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
}
.top-header-bg {
    background-color: $aipom;
    position: static;
    top: 0;
    left: 0;
    height: 45px; 
    width: 100%;    
}
.app-title {
    padding-top: 6px; // esto es para centrar el titulo, desde arriba
    font-size: 0.8rem; // tamaño del texto
    left: 55px;
    position: absolute;
    font-weight: bold; // negrita
    color: $ambipom; // color del titulo
    .title-em {
        font-size: 1rem;
    }
    .title-small {
        position: relative;
        top: 0;
        left: 4px;
    }
}
.user-logged-name {
    top: -9px;
    position: relative;
    font-weight: 900;
    color: $budew;
}
.sign-out {
    color: $roselia;
}
@media (min-width: 320px) and (max-width: 480px) {
    .app-title {
        .title-small {
            top: -1px;
        }
    }
}