.species-block {
    position: relative;
    padding-left: 0;
    width: 33%;
    padding-top: .5em;
    padding-bottom: .5em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.species-label {
    top: 10px;
    left: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    position: absolute;
}
@media (min-width: 320px) and (max-width: 480px) { 
    .species-label {
        width: 60%;
        left: 44px;
    }
}