<div class="ui-g">
  <div class="ui-g-12" style="padding: 0">
    <div class="ui-g-12" style="padding-left: 0; padding-right: 0">
      <app-no-info></app-no-info>
    </div>
    <div class="ui-g-12" style="padding: 0">
      <app-mg-countdown [mode]="'panel'"></app-mg-countdown>
      <span class="infographic" (click)="goToInfographic()" style="margin-top: 1rem">Ver infográfico de la migración actual</span>
      <span class="infographic" (click)="goToSpeciesAdmin()" style="margin-top: .5rem">Administrar especies que anidan</span>
    </div>
    <div class="ui-g-12" style="padding: 0">
      <app-sp-list [mode]="'compact'"></app-sp-list>
    </div>
    <div class="ui-g-12" style="padding: 0">
      <app-mg-list [mode]="'compact'"></app-mg-list>
    </div>
    <div class="ui-g-12" style="padding: 0">
      <app-nr-list [mode]="'compact'"></app-nr-list>
    </div>
  </div>
</div>