.notification-date {
    font-size: 0.7rem;
    opacity: 0.8;
}
.notification-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}
.notification-message {

}
.notification-author {
    font-weight: 900;
}