.smaller-cell {
    font-size: 0.7rem;

    &.link {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.filter-field {
    padding-left: 0; 
    text-align: right; 
    padding-top: 14px
}
