<div class="ui-g-12" style="padding-left: 0">
  <div class="ui-g-12" style="padding: .5em 0">
    <h3>{{ listTitle }}</h3>
    <p-table [value]="paginatedList" [lazy]="true" [rows]="mode !== 'compact' && 5 || 10" [paginator]="mode !== 'compact'"
      [totalRecords]="mode !== 'compact' && 5 || list.length" (onLazyLoad)="paginatePoints($event)" class="table-overriden">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th class="compact-header">Referencias</th>
          <th>Link</th>
          <th [hidden]="mode === 'compact'">Latitud</th>
          <th [hidden]="mode === 'compact'">Longitud</th>
          <th class="options-header"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-point>
        <tr>
          <td class="smaller-cell">{{ point.name }}</td>
          <td class="smaller-cell">{{ point.attributes }}</td>
          <td class="smaller-cell link"><a href="{{ point.link }}" target="_new">Nest Atlas</a></td>
          <td [hidden]="mode === 'compact'">{{ point.lat }}</td>
          <td [hidden]="mode === 'compact'">{{ point.long }}</td>
          <td><i class="pi pi-pencil" style="font-size: 1.5rem" (click)="editPoint(point)"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>