// Colores base
$slowpoke: rgba(232,201,56,.25); // Fondo extremo 1
$slowbro: rgba(245,229,111,1); // Fondo extremo 2
$slowking: rgba(232,201,56,1); // Fondo extremo 3

$lotad: rgba(129, 176, 226, 0); // Gradient de tabla 1
$lombre: rgba(129,176,226,0.8); // Gradient de tabla 2
$ludicolo: rgba(129,176,226,1); // Gradient de tabla 3

$eevee: #e8f1fa; // Fondo de filas pares de tabla

$aipom: #444444; // Fondo de encabezado
$ambipom: #e8c938; // Color de título del encabezado