// Colores base
$slowpoke: rgba(255,255,255,.25); // Fondo extremo 1
$slowbro: rgba(255,255,255,.45); // Fondo extremo 2
$slowking: rgba(255,255,255,.65); // Fondo extremo 3

$lotad: rgba(0, 79, 98, 0); // Gradient de tabla 1
$lombre: rgba(0, 79, 98,0.8); // Gradient de tabla 2
$ludicolo: rgba(0, 79, 98,1); // Gradient de tabla 3

$eevee: #e8f1fa; // Fondo de filas pares de tabla

$aipom: white; // Fondo de encabezado
$ambipom: #004f62; // Color de título del encabezado
$budew: #004f62; // Color de nombre de usuario
$roselia: red;