/* You can add global styles to this file, and also import other style files */
@import "./_include.scss";

// Estilos generales
body {
    background: $slowpoke; /* Old browsers */
    background: -moz-linear-gradient(top, $slowpoke 0%, $slowbro 50%, $slowking 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $slowpoke 0%, $slowbro 50%, $slowking 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $slowpoke 0%, $slowbro 50%, $slowking 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c938', endColorstr='#e8c938',GradientType=0 ); /* IE6-9 */ // color de fondo general
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    font-size: 0.8rem; // tamaño de texto por defecto
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main-content {
    position: absolute; 
    top: 100px; 
    padding-top: 0 !important; 
    overflow-x: hidden;
    overflow-y: scroll; 
    height: 100vh; 
    padding-bottom: 100px !important;
    
    &.public {
        top: 45px;
        padding-bottom: 45px !important;
    }
}
.main-menu {
    padding-bottom: 0;
}
.table-overriden {
    .ui-table .ui-table-thead { // estilos de encabezados de tabla
        & > tr > th {
            border: 1px solid $aipom;
            background-color: $ludicolo;
            
            &.options-header {
                width: 50px;
            }
            &.compact-header {
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }
    }
    .ui-table .ui-table-tbody { // estilos de filas de tabla
        & > tr:nth-child(even) { // filas pares de tabla
            background-color: $eevee;
        }
        & > tr { // filas impares de tabla
            background-color: white; 
        }
        & td {
            border: 1px solid $aipom;
        }
    }
}
.table-title {
    padding: 0 !important;
}
.table-actions {
    padding: 15px .5rem 0 0 !important;
    text-align: right;

    & > .new { // ícono de nuevo item
        font-size: 1.2rem;
        color: black;
    }
    & > .list { // ícono para navegar a la lista
        font-size: 1.2rem;
        color: black;
    }
}
.panel-override {
    & > .ui-panel { 
        & > .ui-panel-titlebar {
            background-color: $ludicolo;
            border: 0.5px solid $aipom;
            
            & > .ui-panel-title {
                font-weight: bold;
            }
        }
        & .ui-panel-content {
            border: 0.5px solid $aipom;
            border-top: none;
        }
    }
}
.accordion-override {
    .ui-accordion {
         .ui-accordion-header {
            background-color: $ludicolo;
            
            & .ui-accordion-header-text {
                font-weight: bold;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .main-menu {
        display: none;
    }
    .main-content {
        top: 45px;
        padding-bottom: 45px !important;
    }
    .ui-menubar {
        display: none;
    }
    .table-overriden {
        .ui-table .ui-table-tbody td {
            &.column360 {
                display: none;
            }
        }
        .ui-table .ui-table-thead > tr > th {
            &.header360 {
                display: none;
            }
        }
    }
}
.splash-screen {
    background-color: $aipom;
    width: 100%;
    position: static;
    height: 100vh;
    z-index: 10;
}
.splash-screen-middle {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 80px);
}
.splash-screen-logo {
    width: 140px;
    height: 140px;  
    background-image: url('/assets/images/SRUY_Logo.png');
    background-size: 140px 140px;
    top: 0;
    left: 10px;
    position: relative;
 }
.splash-screen-title {
    position: relative;
    top: 10px;
    left: 37px;
    color: $ambipom;
    font-size: 2rem;
    font-weight: 900;
}
.splash-screen-text {
    color: white;
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 0.7rem;
    
    &.countdown {
        left: 46px;
        font-size: 1.5rem;
        font-weight: 900;
    }
    &.maintenance {
        left: -60px;
        font-size: 1rem;
        font-weight: 700;
        width: 100%;
    }
}