/* You can add global styles to this file, and also import other style files */
@import "./_include.scss";

// Estilos generales
body {
    background: $slowpoke; /* Old browsers */
    background: -moz-linear-gradient(top, $slowpoke 0%, $slowbro 50%, $slowking 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $slowpoke 0%, $slowbro 50%, $slowking 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $slowpoke 0%, $slowbro 50%, $slowking 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c938', endColorstr='#e8c938',GradientType=0 ); /* IE6-9 */ // color de fondo general
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    font-size: 0.8rem; // tamaño de texto por defecto
    height: 100vh;
}
.table-overriden {
    .ui-table .ui-table-thead { // estilos de encabezados de tabla
        & > tr > th {
            border: 1px solid $aipom;
            background-color: $ludicolo;
            
            &.options-header {
                width: 50px;
            }
            &.compact-header {
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }
    }
    .ui-table .ui-table-tbody { // estilos de filas de tabla
        & > tr:nth-child(even) { // filas pares de tabla
            background-color: $eevee;
        }
        & > tr { // filas impares de tabla
            background-color: white; 
        }
        & td {
            border: 1px solid $aipom;
        }
    }
}
.table-title {
    padding: 0 !important;
}
.table-actions {
    padding: 15px .5rem 0 0 !important;
    text-align: right;

    & > .new { // ícono de nuevo item
        font-size: 1.2rem;
        color: black;
    }
    & > .list { // ícono para navegar a la lista
        font-size: 1.2rem;
        color: black;
    }
}